*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url(../img/fondo.jpeg);
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment: fixed;
}

article
{
	margin: 0 auto;
	width: 60%;
	margin-top: 20px;
	padding: 9px;
	background-color: #ffffff;
	color: #000;
	font-family: Arial;
}

hr
{
	padding: 3px;
	background-color: #CE0000;
	border: 0;
}